.infoBox{
    height: 80%;    
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.userInfoBox{
    width:70%;
    height: 70%;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
}

.userInfo{
    width:100%;
    height:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    font-size: 2.3em;
    color:#64C8FA;
    margin-bottom: -30px;
}

.link{
    text-decoration: none;
    color:white;
    width:100%;
    margin-left:40%;
}